---
# General settings
datacenter: "dc1"
region: "global"

# Installation directories
hashicorp_install_dir: "/opt/hashicorp"
consul_config_dir: "/etc/consul.d"
consul_data_dir: "/opt/consul/data"
nomad_config_dir: "/etc/nomad.d"
nomad_data_dir: "/opt/nomad/data"
fabio_config_dir: "/etc/fabio"

# Consul settings
consul_bootstrap_expect: "{{ groups['consul_servers'] | length }}"
consul_retry_join: "{{ groups['consul_servers'] | map('extract', hostvars, 'ansible_host') | list }}"

# Nomad settings
nomad_encrypt_key: ""  # Will be generated if empty
nomad_bootstrap_expect: "{{ groups['nomad_servers'] | length }}"
nomad_retry_join: "{{ groups['nomad_servers'] | map('extract', hostvars, 'ansible_host') | list }}"

# Container worker settings
docker_storage_driver: "overlay2"

# Fabio settings
fabio_ui_port: 9998
fabio_lb_port: 9999
